* {box-sizing: border-box}

/* Style the navbar */
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Active/current link */
  .topnav a.active {
    background-color: #555;
    color: white;
  }
  
  /* Style the input container */
  .topnav .login-container {
    float: right;
  }
  
  /* Style the input field inside the navbar */
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
  }
  
  /* Style the button inside the input container */
  .topnav .login-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .login-container button:hover {
    background: #ccc;
  }
  
  /* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav .login-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .login-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }
  

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 20%;
  height: 100px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}
/* Table CSS*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }

  tr:nth-child(odd) {
    background-color: white;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
.myImg{
    float: left;
    padding-right: 50px;
}
 .Location{
    padding-top: 100px;
    padding-left: 65%;
    
 }
 .bioInfo{
    padding-top: 20px;
 }
 .AddFam{
    padding-top: 50px;
    padding-left: 100px;
 }
 .Addbuttons{
    text-align: center;
    padding-top: 50px;
 }

 .btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }

  /* Green */
.save {
    border-color: #04AA6D;
    color: green;
  }
  
  .save:hover {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Red */
.delete {
    border-color: #f44336;
    color: red
  }
  
  .delete:hover {
    background: #f44336;
    color: white;
  }
  
  /* Purple */
  .more {
    border-color: purple;
    color: purple;
  }
  
  .more:hover {
    background: purple;
    color: white;
  }
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 80%;
  border-left: none;
  height: 1300px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /*Calendar */

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;
       background-color: #d2b48c; }

.month {
  padding: 70px 25px;
  width: 100%;
  background: #333;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 30px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 25px;
  font-size:15px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #333;
  color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}

  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

.patcards{
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  
}

.card {
  padding: 30px;
  text-align: center;
}


  .popup {
    display: none;
    
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }